html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  scroll-snap-type: y mandatory;
}

main > div,
main > section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Optional: immersion */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

